[submodule "SampleChatApp"]
	path = SampleChatApp
	url = https://github.com/fummicc1/SampleChatApp
[submodule "ToDoAndroidApp"]
	path = ToDoAndroidApp
	url = git@github.com:fummicc1/ToDoAndroidApp.git
[submodule "SampleOfNavigationApp"]
	path = SampleOfNavigationApp
	url = https://github.com/fummicc1/SampleOfNavigationApp
[submodule "SampleOfRoomApp"]
	path = SampleOfRoomApp
	url = git@github.com:fummicc1/SampleOfRoomApp.git
